{% block content %}
<hr class="m-0" />
            {% if request.user.is_authenticated %}
                <div style="margin-left:5px;justify-content:space-between">
                    <a href="/admin/home/home/add/"class="btn btn-block btn-warning mt-3 mr-3">Create Profile</a>
                    {% for item in content %}
                    <a href="/admin/home/home/{{item.id}}/change/" class="btn btn-block btn-info mt-3">Update Profile</a>
                    <a href="{{item.get_delete_url}}"class="btn btn-block btn-danger mt-3">Delete Profile</a>
                    {% endfor %}
                    <a href="{% url 'admin:index' %}"class="btn btn-block btn-dark mt-3">Admin Page</a>
                    <a href="{% url 'account:logout' %}"class="btn btn-block btn-danger mt-3" style="margin-left:15px">Logout</a>
                    <hr>
                    <h5 class="mt-3">
                        Welcome
                        <span class="text-primary">{{request.user.get_full_name}} ({{request.user.username}})</span>
                    </h5>
                </div>
            {% else %}
                <div style="margin-left:5px;justify-content:space-between">
                    <a href="{% url 'account:login' %}"class="btn btn-block btn-success mt-3" style="margin-left:15px">Login</a>
                    <a href="https://github.com/alii76tt/django-personal-website"class="btn btn-block btn-light mt-3" style="margin-left:15px">Source Code</a>
                </div>
            {% endif %}
            <!-- About-->
            <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
                <div class="resume-section-content">
                {% if content %}
                {% for item in content %}
                    <h1 class="mb-0">
                        {{item.name}}
                        <span class="text-primary">{{item.surName}}</span>
                    </h1>
                    <div class="subheading mb-5">
                        {{item.shortLament|safe}}
                        <a href="mailto:name@email.com">{{item.email}}</a>
                    </div>
                    <p class="lead mb-5">{{item.description|safe}}</p>
                    {% if links %}
                        <div class="social-icons">
                        {% for link in links %}
                            {% if link.name == "linkedin" %}
                            <a class="social-icon" href="{{link.link}}"><i class="fab fa-linkedin-in"></i></a>
                            {% elif link.name == "github" %}
                            <a class="social-icon" href="{{link.link}}"><i class="fab fa-github"></i></a>
                            {% elif link.name == "twitter"%}
                            <a class="social-icon" href="{{link.link}}"><i class="fab fa-twitter"></i></a>
                            {% elif link.name == "facebook"%}
                            <a class="social-icon" href="{{link.link}}"><i class="fab fa-facebook-f"></i></a>
                            {% elif link.name == "hackerrank"%}
                            <a class="social-icon" href="{{link.link}}"><i class="fab fa-hackerrank-f"></i></a>
                            {% endif %}
                        {% endfor %}    
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% else %}
                    <h2 class="mb-0">
                       About Not
                        <span class="text-primary">Found</span>
                    </h2>
                {% endif %}
            </section>
{% endblock content %}